
<table>
  <tr>
    <th><div id ='title'>购物清单</div></th>
  </tr>
  <tr>
    <td>
    <%if @items !=nil %>
    <table id ="items_list">
      <tr>
        <th>分类</th>
        <th>名称</th>
        <th>单价（元）</th>
        <th>单位</th>
        <th>数量</th>
        <th>小计</th>
      </tr>
      </tr>
      <% @items.each  do |item| %>
          <tr id= <%="tr_" + item.id.to_s %> >
            <td>
              <%= item.category %></td>
            <td>
              <%= item.name %></td>
            <td>
              <%= item.price %></td>
            <td>
              <%= item.unit %></td>
            <td>
             <button class="bnt" onclick="show_number(this.id,'-')" id=<%= item.id %>>-</button>
              <input id="number_box" type="text" class= <%= item.id %>    value=<%= item.count %>>
              <button class="bnt" onclick="show_number(this.id,'+')" id=<%= item.id %>>+</button>
            </td>

            <% if PoromationItems.find_by_barcode(item.barcode)==nil%>
                <td style="width: 400px" id=<%= item.name %>><%= item.price*item.count %>(元)</td>
            <% else %>
                <td style="width: 400px" id=<%= item.name %>><%= item.price*(item.count - item.count/3)%>(元)(原价:<%= item.price*item.count%>(元))</td>
            <% end %>
          </tr>
      <%end%>
    </table>
        <div class="button">
          <p id="sum"> 总计<%= @sum%>(元)</p>
          <button onclick="open_pay_page()">付款</button>
        </div>
    <%end%>
    </td>
  </tr>
</table>